<div class="page">
  <div class=logo-container>
    <%= image_tag asset_pack_path('components/page/static/gregor.jpg'), :class => "avatar-circle" %>
    <%= image_tag asset_pack_path('components/page/static/viktoriya.jpg'), :class => "avatar-circle" %>
  </div>
  <div class="header-container">
    <h1>Viktoriya & Gregory</h1>
    <h1>Chat!</h1>
  </div>
  <%= yield %>
</div>
