.page {
  padding-top: 50px;
  height: 100vh;
  width: 100vw;
  margin: 0 auto;
  overflow: hidden;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 0px;
  margin-bottom: -150px;
}

.header-container {
  font-size: 12px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 150px;
  margin-bottom: -150px;
}

.avatar-circle {
  margin: 20px;
  padding: 10px;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
